[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
segno = "*"
qrcode-artistic = "*"
django-cors-headers = "*"
pillow = "*"
faker = "*"
dict2xml = "*"

[dev-packages]

[requires]
python_version = "3.13"
